body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 32px;
}

h1 {
    color: pink;
}

h2 {
    color: purple;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    font-size: 40px;
}

img {
    width: 400px;
    height: 400px;
}

li {
    color: purple;
}